@media screen and (max-width: 320px){
    img,div{
        width: 100%;
        align:left;
    }
}
#outer
{
    width:100%;
    text-align: center;
}

body, html {
    height: 100%;
	margin:0;
}
.bg {
    background-image: url("Koala.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment:fixed;
    background-size: cover;
}
.imgwrap{
    text-align: center;
}
img{
    display: none;
}
.form-style-5{
    /* max-width: 500px; */
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman";
}
.form-style-5 fieldset{
    border: 2px solid green;
}
.form-style-5 legend {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-style-5 .number {
    background: #a50e19;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    /* text-shadow: 0 1px 0 rgba(255,255,255,0.2); */
    border-radius: 15px 15px 15px 0px;
}
.btn {
    background-color: #4CAF50; /* Green */
    /* border: none; */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:5px;
  /* outline: none; */
box-shadow: 3px 3px 4px 3px #ccc;
}

.btn:hover {
  color: #FFF;
  background: #900;
}
 .btn:focus { 
   /* outline: 0;   */
    color: lime;
 } 